## Execute Python Syntax

In [ ]:
name = "sohel"

## Error

In [ ]:
for item in name :
print(item)

## Comments

In [ ]:
#This is a comment.
print("Hello, World!")

## Variables in Python

In [ ]:
x = 5
y = "Hello, World!"

## Casting

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

## Check Datatype

In [ ]:
print(type(x))
print(type(y))

## Single or Double Quotes?

In [ ]:
x = "John"
# is the same as
x = 'John'

In [ ]:
x

## Case-Sensitive
Variable names are case-sensitive.

In [ ]:
a = 4
A = "Sally" 
#A will not overwrite a

## Variable Names

A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)
A variable name cannot be any of the Python keywords.

Camel Case

In [ ]:
myVariableName = "Sohel"

Pascal Case

In [ ]:
MyVariableName = "Sohel"

Snake Case

In [ ]:
my_variable_name = "John"

## Assign Multiple Values

In [ ]:
x, y, z = "Data", "Science", "Code Square"
print(x)
print(y)
print(z)

## One Value to Multiple Variables

In [ ]:
x = y = z = "Data Science"
print(x)
print(y)
print(z)

## Unpack a Collection

In [ ]:
bootcamp = ["My", "Code", "Square"]
x, y, z = bootcamp
print(x)
print(y)
print(z)

### In the print() function, you output multiple variables, separated by a comma

In [ ]:
x = "Code Square "
y = "is"
z = "awesome"
print(x, y, z)

## You can also use the + operator to output multiple variables:

In [ ]:
x = "Code Square "
y = "is "
z = "awesome"
print(x + y + z)

In [ ]:
x = 5
y = 10
print(x + y)

## Error

In [ ]:
x = 5
y = "John"
print(x + y)

## But You can Print

In [ ]:
x = 5
y = "John"
print(x, y)

## What are the data types in python ?

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType

## Data Type Keywords

In [ ]:
 int(), float(), complex(), str()

In [ ]:
int(), float(), and complex()

you can convert from one type to another with the int(), float(), and complex() method

## Casting

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [ ]:
type(x)

In [ ]:
a = float(x)

In [ ]:
type(a)

In [ ]:
#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

## String Cating

In [ ]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

In [ ]:
x

In [ ]:
y

In [ ]:
z

## Multiline Strings

In [ ]:
a = """Data science is the study of data
to extract meaningful insights for business. 
It is a multidisciplinary approach that combines principles
and practices from the fields of mathematics, statistics, 
artificial intelligence, and computer engineering to analyze 
large amounts of data."""

In [ ]:
a

# Looping

In [ ]:
for item in "data science":
    print(item)

len() Function  returns the length of a string

In [ ]:
a = "Hello, World!"
print(len(a))

## Check String

In [ ]:
txt = "Code Square data science bootcamp"

In [ ]:
print("bootcamp" in txt)

## Use it in an if statement:

In [ ]:
txt = "Code Square data science bootcamp"

In [ ]:
if "bootcamp" in txt:
    print("Yes, 'bootcamp' is present.")

## Check if NOT

In [ ]:
txt = "Code Square data science bootcamp"

In [ ]:
print("data" not in txt)

## print only if "expensive" is NOT present:

In [ ]:
txt =  "Code Square data science bootcamp"
if "expensive" not in txt:
    print("No, 'expensive' is NOT present.")

## Slicing

In [ ]:
b = "Hello, World!"

In [ ]:
print(b[2:5])

In [ ]:
print(b[:5])

In [ ]:
print(b[2:])

## Negative Indexing

In [ ]:
b = "Hello, World!"
print(b[-1])

In [ ]:
print(b[-5:-2])

## Upper Case

In [ ]:
a = "Hello, World!"
print(a.upper())

In [ ]:
print(a.lower())

### The strip() method removes any whitespace from the beginning or the end:

In [ ]:
a = " Hello, World! "

In [ ]:
print(a.strip())

## The replace() method replaces a string with another string:

In [ ]:
a = "Hello, World!"
print(a.replace("H", "J"))

## The split() method splits the string into substrings if it finds instances of the separator:

In [ ]:
a = "Hello, World!"
print(a.split(","))

## String Concatenation

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

## String Format

In [ ]:
age = 27
txt = "My name is sohel, I am " + age
print(txt)

## Create an f-string:

In [ ]:
age = 27
txt = f"My name is sohel, I am {age}"
print(txt)

## Add a placeholder for the price variable:

In [ ]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

In [ ]:
## The escape character allows you to use double quotes when you normally would not be allowed

## Error

In [ ]:
txt = "We are the so-called "Vikings" from the north."

In [ ]:
txt

In [7]:
txt = "We are the so-called \"Vikings\" from the north."

In [ ]:
txt

### Assignment Questions

1. Create a variable `city` and assign the name of your favorite city to it. Print the variable.
2. Print the data type of the variable `city`.
3. Convert the integer `42` to a string and assign it to a new variable. Print the new variable.
4. Create a variable `sentence` with the value "Learning Python is fun and rewarding!". Print the substring from index 9 to 15.
5. Replace the word "fun" with "exciting" in the variable `sentence` and print the result.
6. Concatenate the strings `first_name = "John"` and `last_name = "Doe"` with a space in between. Print the result.
7. Use an f-string to create a sentence that includes the variables `city` and `temperature` (set temperature to 25.5). Print the sentence.